*{margin:0; padding: 0;}
body{background-color: black;}
#title{
    position:relative; 
    /* background-image: url(img/title.jpg);  */
    width: 100%; 
    height: 770px; 
    padding: 0;
}
.navbar-fixed-top{
    position: absolute;
}
.navbar{
    padding: 20px;
}
.navbar-default{
    background-color: rgba(255, 255, 255, 0.01);
    border: 0;
}
/* #img-filter{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(to right, rgba(14, 13, 13 ,1),rgba(32, 32, 32 ,0), rgba(7, 7, 7, 0));
} */
.border-bt{
    border-bottom: 8px solid #222;
    margin-bottom: 50px;
}
#title>img{width: 100%; height: 100%; object-fit: cover; filter: brightness(50%);}
.btn-red{
    background-color: red;
    color: white !important;
}
#myNavbar .nav .btn-sm{
    margin-right: 20px;
    font-size: 13px;
    width: 80px;
    height: 40px;
    text-align: center;
    line-height: 13px;
}
#myNavbar .nav .btn-sm:hover{
    background-color: red;
}
.title-box{
    position: absolute;
    top: 50%;
    left: 50%;
    /* width: 700px;
    margin: auto;
    margin-top: 300px;/*/
    color: white; 
    transform: translate(-50%,-50%);
}
#title .title-box h1{
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
}
#title .title-box h3{font-size: 26px;}
#title .title-box p{font-size: 23px;}
#tv, #content, #device{
    color: white;
}
#pc-title{display: block;}
#moblie-title{display: none;}
#tv h1, #content h1, #device h1{
    font-size: 40px;
    font-weight: bold;
}
#tv h3, #content h3, #device h3{
    font-size: 20px;

}
.tv-box,.content-box{
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.tv-box img,.content-box img{
    width: 100%;
}
#tv .continer .row div:last-child{
    position: relative;
}
#video-box{
    position: absolute;
    width: 70%;
    top: 20%;
    left: 15%;
    z-index: -1;
}
#video-box video, #imac-vidio-box video{
    width: 100%;
}
#imac-vidio-box{
    position: absolute;
    width: 60%;
    top: 10%;
    left: 20%;
    z-index: -1;
}
#contents-box::after{
    content: url("");
}
#content-box img{
    max-width: 100%;
    height: auto;
    border: 0;
}
#content .row .col-sm-6{
    float: right;
}
#content::after{
    content: "";
    clear: both;
    display: table;
}
#content .row:last-child{
    position: relative;
}
#gif-box::after{
    /* width: 10px;
    height: 75px;
    background: url(img/ani.gif)center center no-repeat; */
    position: absolute;
    right: 20px;
    top: 10px;
    width: 3em;
    height: 3em;
    outline: 2px solid #000;
    outline-offset: -2px;
    display: block;
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif) center center no-repeat;
    background-size: 100%;
    content: '';
    flex-grow: 0;
    flex-shrink: 0;
}
#gif-box #gif-box-pic{
    position: absolute;
    top: 3px;
    left: 7px;
}
#gif-box #gif-box-text{
    text-align: left;
    position: absolute;
    top: 5px;
    left: 30%;
    transform: translateX(-30%);
}
#gif-box #gif-box-text h5{
    font-weight: bold;
}
#gif-box #gif-box-text h6{
    color: #0071eb;
}
#content-box{
    padding-bottom: 30px;
}
#content .row #content_text{
    text-align: left;
}

.img-size{
    max-width: 100%;
    height: auto;
    border: 0;
}

#content .row h1,
#tv .row h1,
#device .row  h1{font-size: 50px; text-align: left;}

#content .row h3,
#tv .row h3,
#device .row  h3{font-size: 26px; text-align: left;}

#content .row .col-sm-6:first-child,
#tv .row .col-sm-6:first-child,
#device .row .col-sm-6:first-child{margin-top: 20%; transform: translateY(-50%);}

/* #content-text{margin-top: 50px;} */

#gif-box{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-10%);
    width: 300px;
    height: 80px !important;
    border: 3px solid #222;
    border-radius: 10px;
    background-color: black;
}
#gif-box img{
    width: 45px;           
    height: 64px;
}
#gif-box div{
    float: left;
}
#qna{
    font-size: 23px !important;
}
.accordion{
    font-size: 23px !important;
}
#qna-title{
    text-align: center;
    font-size: 40px ;
    font-weight: bolder;
    color: white;
}
.accordion {
    background-color: #303030;
    margin-bottom: 1px;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}
.accordion.active + div{
    padding:20px
}
.panel{
    border: 0;
}
.active, .accordion:hover {
    background-color: #303030;
}
.accordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2212";
}
.panel{
    border-radius: 0;
    overflow: hidden;
}
#qna .panel p{
    color: white ;
}
.panel {
    padding: 0 18px;
    background-color: #303030;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
#sitemap .col-sm-3 li{
    list-style-type: none;
    line-height: 30px;
}
#sitemap, #sitemap a, #footer{
    color: #757575;
}
#myNavbar .netflix-btn .btn{
    margin-right: 20px;
    color: white !important;
    border-color: white;
    border-radius: 5px;
    width: 90px;
    height: 40px;
}
.netflix-btn .dropdown .btn{
    background-color: black !important;
    border-radius: 0;
    border: 2px solid #333;
}
.netflix-btn .btn{
    color: #999;
    width: 130px; 
    height: 50px;
}
.netflix-btn .dropdown-menu{
    width: 100px;
    border: 2px solid #333;
    text-align: right;
    background-color: black;
}
.netflix-btn .dropdown-menu a:hover{
    color: white;
    background-color: rgb(54, 150, 240);
}
.netflix-btn .dropdown-menu a{
    color: #999;
}
#footer{
    margin-top: 30px;
    padding-bottom: 50px;
    font-size: 12px;
}

@media screen and (max-width:768px) {
    #pc-title{display: none;}
    #moblie-title{display: block;}
    #content .row .col-sm-6:first-child,
    #tv .row .col-sm-6:first-child,
    #device .row .col-sm-6:first-child{margin-top: 0%; transform: translateY(0%);}

    #content .row h1,
    #tv .row h1,
    #device .row  h1{font-size: 40px; text-align: center;}

    #content .row h3,
    #tv .row h3,
    #device .row  h3{font-size: 20px; text-align: center;}
    #title form{
        width:300px;
        margin: auto;
    }
    #title .title-box h1{
    font-weight: bold;
    font-size: 5.2vw;
    line-height: 60px;
    }
    #title .title-box h3,
    #title .title-box p{
        font-size: 18px;
    }
}